<%= form_for(@datasource) do |f| %>
  <% if @datasource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datasource.errors.count, "error") %> prohibited this datasource from being saved:</h2>

      <ul>
      <% @datasource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :database %><br />
    <%= f.text_field :database %>
  </div>
  <div class="field">
    <%= f.label :host %><br />
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :database_name %><br />
    <%= f.text_field :database_name %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :database_port %><br />
    <%= f.text_field :database_port %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
