<h1>Listing datasources</h1>

<table>
  <tr>
    <th>User</th>
    <th>Database</th>
    <th>Host</th>
    <th>Database name</th>
    <th>User</th>
    <th>Password</th>
    <th>Database port</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datasources.each do |datasource| %>
  <tr>
    <td><%= datasource.user_id %></td>
    <td><%= datasource.database %></td>
    <td><%= datasource.host %></td>
    <td><%= datasource.database_name %></td>
    <td><%= datasource.user %></td>
    <td><%= datasource.password %></td>
    <td><%= datasource.database_port %></td>
    <td><%= link_to 'Show', datasource %></td>
    <td><%= link_to 'Edit', edit_datasource_path(datasource) %></td>
    <td><%= link_to 'Destroy', datasource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datasource', new_datasource_path %>
