<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @datasource.user_id %>
</p>

<p>
  <b>Database:</b>
  <%= @datasource.database %>
</p>

<p>
  <b>Host:</b>
  <%= @datasource.host %>
</p>

<p>
  <b>Database name:</b>
  <%= @datasource.database_name %>
</p>

<p>
  <b>User:</b>
  <%= @datasource.user %>
</p>

<p>
  <b>Password:</b>
  <%= @datasource.password %>
</p>

<p>
  <b>Database port:</b>
  <%= @datasource.database_port %>
</p>


<%= link_to 'Edit', edit_datasource_path(@datasource) %> |
<%= link_to 'Back', datasources_path %>
