@charset "utf-8";
/* common styles */
html { padding:0; margin:0; }
body { margin:0; padding:0; width:100%; background-color:#fff; font:normal 12px/1.3 Arial, Helvetica, sans-serif; color:#000; overflow-x: hidden; }
h1 { margin:4px 0; padding:4px 0 0 0; font:normal 48px/1 Arial, Helvetica, sans-serif; color:#000; }
h2 { margin:4px 0; padding:4px 0 0 0; font:normal 35px/1 Arial, Helvetica, sans-serif; color:#000; }
p { margin:4px 0; padding:4px 0 0 0; font:normal 12px/1.3 Arial, Helvetica, sans-serif; color:#000; }
img { margin:0; padding:0; border:none; }
.left-side-charts { float:left; width: 520px; }
.right-side-charts { float:left; }
.clear { clear: both; }
/* __________________________________________________________________ header __________________________________________________________________ */
.header { position:relative; background: url('../images/admin-header-bg.jpg') repeat-x; }
/* top clouds area */
.header .clouds { margin:0 0 0 -592.5px; padding:0; position:absolute; width:1185px; height:72px; top:0; left:50%; background: url('../images/admin-clouds.png') no-repeat; }
.header_resize { margin:0 auto; padding:0; position:relative; width:1050px; height:80px; z-index:999; }
/* logo */
.header_resize .logo { margin:26px 0 0 3px; padding:0; width:138px; height:28px; background: url('../images/logo.png') no-repeat; float:left; text-indent:-9999px; }
.header_resize .logo a { display:block; margin:0; padding:0; height:100%; }
/* dropdown menu */
.header_resize ul.dropdown { margin:19px 0 0 30px; padding:0; width:194px; height:45px; background: url('../images/buttons.png') no-repeat -469px 0; float:left; list-style:none; }
.header_resize ul.dropdown li { margin:0; padding:11px 0 11px 30px; position:relative; font-size:14px; color:#5e5e5e; cursor:pointer; }
.header_resize ul.dropdown ul { display:none; margin:0; padding:10px 0 5px 0; position:absolute; width:194px; top:40px; left:0px; background-color:#eee; list-style:none; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; behavior: url(PIE.htc); }
.header_resize ul.dropdown ul li { margin:0 0 7px 0; padding:0; height:25px; overflow:hidden; }
.header_resize ul.dropdown ul li a { display:block; margin:0; padding:4px 0 0 30px; width:100%; height:100%; font-size:14px; color:#5e5e5e; text-decoration:none; }
.header_resize ul.dropdown ul li a:hover { background-color:#d1d1d1; }
/* admin menu */
.header_resize ul.admin-menu { margin:23px 0 0 0; padding:0; list-style:none; overflow:hidden; float:right; }
.header_resize ul.admin-menu li { margin:0; padding:0; float:left; }
.header_resize ul.admin-menu li a { display:block; margin:0 0 0 23px; padding:10px 0 0 45px; position:relative; height:30px; color:#fff; text-decoration:none; font-size:14px; }
.header_resize ul.admin-menu li a:hover { text-decoration:underline; }
.header_resize ul.admin-menu li a span { display:block; margin:0; padding:0; position:absolute; top:50%; left:0; background: url('../images/admin-menu-bg.png') no-repeat; }
.header_resize ul.admin-menu li a span.menu-1 { margin-top:-17px; background-position:0 0; width:38px; height:34px; } 
.header_resize ul.admin-menu li a span.menu-2 { margin-top:-20px; background-position:0 -36px; width:37px; height:40px; } 
.header_resize ul.admin-menu li a span.menu-3 { margin-top:-19.5px; background-position:0 -78px; width:38px; height:39px; } 
.header_resize ul.admin-menu li a span.menu-4 { margin-top:-16.5px; background-position:0 -119px; width:32px; height:33px; }
/* __________________________________________________________________ content __________________________________________________________________ */
.content {  }
.content_resize { margin:20px auto; padding:0; width:1050px; }
.content_resize .left-side { float:left; }
.content_resize .right-side { float:right; }
/* dashboard menu */
.content_resize .dashboard-menu { margin:0 0 60px 0; padding:0; width:100%; overflow:hidden; }
.content_resize .dashboard-menu .left-side { float:left; }
.content_resize .dashboard-menu .right-side { float:right; }
.content_resize .dashboard-menu p { margin:10px 0 0 0; padding:0; font-size:14px; color:#484848; }
.content_resize .dashboard-menu a { display:block; margin:0 0 0 6px; padding:10px 0 0 0; height:30px; background: url('../images/buttons.png') no-repeat; color:#fff; text-decoration:none; font-size:16px; text-align:center; }
.content_resize .dashboard-menu a.main { width:64px; height:40px; background-position:0 0; }
.content_resize .dashboard-menu a.plus { width:44px; height:40px; background-position:-66px 0; }
.content_resize .dashboard-menu a.new-chart { padding-left:15px; width:159px; background-position:-258px 0; }
.content_resize .dashboard-menu a.arrange-mode { padding:12px 34px 0 0; position:relative; width:110px; height:28px; background-position:-112px 0; color:#595959; font-size:13px; }
.content_resize .dashboard-menu a.arrange-mode span#off-on { display:block; margin:0; padding:0; position:absolute; width:33px; height:17px; top:11px; right:11px; background: url('../images/buttons.png') no-repeat -434px 0; color:#fff; font-weight:bold; text-align:center; text-transform:uppercase; }
/* graphs area */
.content_resize ul.graph { margin:0 0 60px 0; padding:0; list-style:none; overflow:hidden; }
.content_resize ul.graph li { margin:0; padding:0; width:447px; color:#676666; font-size:17px;}
.content_resize ul.graph li a { font-size:14px;  text-decoration:none; }
.content_resize ul.graph li a.blue { color:#1076c4; }
.content_resize ul.graph li a.orange { color:#e87201; }
.content_resize ul.graph li span.sep-line { margin:0 5px; color:#e0e0e0; font-size:14px; }
.content_resize ul.graph .graph-holder { margin:28px 0 0 0; padding:0; width:445px; height:204px; background:#fdfdfd url('../images/graph-bg.jpg') no-repeat 50% 50%; border:1px solid #edeff2; }
/* __________________________________________________________________ footer __________________________________________________________________ */
.footer { background-color:#f3f3f3; border-top:1px solid #dbdbdb; }
.footer_resize { margin:0 auto; padding:37px 0 0 0; width:886px; height:64px; }
.footer_resize ul { margin:0 0 17px 130px; padding:0; list-style:none; overflow:hidden; }
.footer_resize ul li { margin:0; padding:0; float:left; }
.footer_resize ul li a { margin-right:50px; text-decoration:none; text-transform:uppercase; color:#aeaeae; font-size:14px;  }
.footer_resize p { margin:0; padding:0; width:100%; text-align:center; color:#aeaeae; }