@charset "utf-8";
/* fonts */
/* common styles */
html { padding:0; margin:0; color:#484848; }
body { margin:0; padding:0; width:100%; background-color:#fff; font:normal 12px/1.3 Arial, Helvetica, sans-serif; color:#000; overflow-x: hidden; }
h1 { margin:4px 0; padding:4px 0 0 0; font:normal 48px/1 Arial, Helvetica, sans-serif; color:#000; }
h2 { margin:4px 0; padding:4px 0 0 0; font:normal 35px/1 Arial, Helvetica, sans-serif; color:#000; }
p { margin:4px 0; padding:4px 0 0 0; font:normal 12px/1.3 Arial, Helvetica, sans-serif; color:#000; }
img { margin:0; padding:0; border:none; }
/* __________________________________________________________________ header __________________________________________________________________ */
.header { position:relative; background: url('/images/header-bg.jpg') repeat-x; }
/* top clouds area */
.header .top-clouds { margin:0 0 0 -616.5px; padding:0; position:absolute; width:1233px; height:203px; top:0; left:50%; background: url('/images/header-top-clouds.png') no-repeat; }
/* bottom clouds area */
.header .bottom-clouds { margin:0 0 0 -475px; padding:0; position:absolute; width:950px; height:434px; top:0; left:50%; background: url('/images/header-bottom-clouds.png') no-repeat; }
.header_resize { margin:0 auto; padding:0; position:relative; width:886px; height:343px; z-index:999; }
/* logo */
.header_resize .logo { margin:66px 0 0 27px; padding:0; width:138px; height:28px; background: url('/images/logo.png') no-repeat; float:left; text-indent:-9999px; }
.header_resize .logo a { display:block; margin:0; padding:0; height:100%; }
/* site menu */
.header_resize .site-nav { margin:50px 55px 0 0; padding:0; position:relative; width:560px; height:58px; background: url('/images/site-nav-bg.png') repeat-x; float:right; }
.header_resize .site-nav .left-side-bg,
.header_resize .site-nav .right-side-bg { margin:0; padding:0; position:absolute; width:110px; height:58px; top:0; }
.header_resize .site-nav .left-side-bg { left:-110px; background: url('/images/site-nav-left-side.png') no-repeat; }
.header_resize .site-nav .right-side-bg { right:-110px; background: url('/images/site-nav-right-side.png') no-repeat; }
.header_resize .site-nav ul { margin:0; padding:0; list-style:none; overflow:hidden; }
.header_resize .site-nav ul  li { margin:0; padding:0; float:left; }
.header_resize .site-nav ul  li a { display:block; margin:20px 22px 0 0; padding:0; color:#fff; text-decoration:none; text-transform:uppercase; font-size:18px; text-shadow: 1px 1px 2px #2b6d9b;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#2b6d9b')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#2b6d9b');
}
.header_resize .site-nav ul  li a:hover { text-decoration:underline;  }
.header_resize .site-nav ul  li.last a { margin-right:0; }
/* slogan */
.header_resize h1.slogan { margin:95px 85px 0 0; padding:0 0 4px 0; width:550px; float:right; color:#fff; font-size:32px; text-shadow: 2px 1px 2px #072f51;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#072f51')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#072f51');
}
/* __________________________________________________________________ content __________________________________________________________________ */
.content { margin:0 auto; padding:0; position:relative; width:886px; z-index:99; }
/* banner */
.content .banner { margin:0; padding:21px 45px 7px 45px; width:auto; background:#fff url('/images/banner-bg.jpg') repeat-x 0 100%; overflow: hidden; border-bottom:13px solid #1076c4; }
.content .banner p { margin:0; padding:5px 0 0 0; width:360px; float:left; font-size:23px; color:#656565; }
.content .banner p span.blue { font-size:38px; line-height:0.7; color:#0152a0; }
.content .banner p span.light-blue { font-size:36px; line-height:0.9; color:#05b1f0; }
.content .banner a { display:block; margin:31px 0 0 0; padding:6px 0 0 0; width:191px; height:31px; background: url('/images/orange-button.png') no-repeat; text-decoration:none; font-size:20px; font-weight:bold; color:#fff; text-align:center; float:left; }
.login { float: right; }
.content .submit input { padding:0; width:191px; height:36px; background: url('/images/orange-button.png') no-repeat; font-size:20px; font-weight:bold; color:#fff; text-align:center; border:0; margin: 20px 0; cursor: pointer; }
.content .banner img { float:right; }
/* additional links */
.content .additional-links { margin:40px 0 45px 0; padding:0; overflow:hidden; }
.content h1.title { margin:0; padding-bottom:20px; width:100%; color:#6b6b6b; font-size:40px; }
.content h1.title span { color:#2799d8; }
.content h2 { margin:0; padding-bottom:20px; color:#2799d8; font-size:22px; }
.content p { padding:0; font-size:15px; line-height:1.5; text-align:justify; color:#373737; }
.content p span { display:block; padding:0; font-size:18px; color:#484848; }
.fields { width: 348px; height: 37px; background-image: url('/images/input_field.png'); border:0; color:white; padding-left: 5px; font-size: 15px; }
.content .left-side { float:left; width: 420px; padding-right: 50px; }
.content .right-side { float:left; }
.content .left-side-main { float:left; width: 220px; padding-right: 20px; }
.content .right-side-main { float:left; }
.content .left-side-charts { float:left; width: 420px; padding-right: 5px; }
.content .right-side-charts { float:left; }
.content .clear { clear: both; }
.content .additional-links a.doc,
.content .additional-links a.plans,
.content .additional-links a.blog { display:block; margin:0; padding:150px 0 0 0; width:269px; height:46px; float:left; color:#787878; text-align:center; font-size:28px; text-decoration:none; border:1px solid #dcdcdc; }
.content .additional-links a.doc { background: url('/images/doc-bg.png') no-repeat 50% 29px; }
.content .additional-links a.plans { margin:0 38px 0 35px; background: url('/images/plans-bg.png') no-repeat 50% 24px; }
.content .additional-links a.blog { background: url('/images/blog-bg.png') no-repeat 50% 28px; }
/* info */
.content .info { margin:0; padding:0; width:100%; overflow:hidden; }
.content .info h1.title { margin:0; padding:0; width:100%; text-align:center; color:#6b6b6b; font-size:40px; }
.content .info h1.title span { color:#2799d8; }
.content .info .left-side { float:left; }
.content .info .right-side { float:right; }
.content .info .text-line { margin:0; padding:0; overflow:hidden; }
.content .info p { margin:60px 0 0 0; padding:0; width:365px; font-size:15px; line-height:1.5; text-align:justify; color:#373737; }
.content .info p span { display:block; margin:0 0 25px 0; padding:0; font-size:18px; color:#484848; }
.content .info img { margin-top:60px; }
.content .info a.full-doc { display:block; margin:40px auto 0 auto; padding:6px 0 0 0; width:241px; height:31px; background: url('/images/blue-button.png') no-repeat; color:#fff; text-align:center; text-decoration:none; font-size:18px; }
/* partners */
.content .partners { margin:55px 0 40px 0; padding:0; position:relative; width:100%; height:196px; background: url('/images/partners-clouds.png') no-repeat 57px 27px; border:1px solid #dcdcdc; }
.content .partners a { display:block; margin:0; padding:0; position:absolute; }
.content .partners a.airbnb { width:114px; height:43px; top:26px; left:19px; background: url('/images/airbnb-logo.jpg') no-repeat; }
.content .partners a.dreamhost { width:165px; height:40px; top:19px; left:398px; background: url('/images/dreamhost-logo.jpg') no-repeat; }
.content .partners a.citypocket { width:105px; height:52px; top:27px; right:24px; background: url('/images/city-pockets-logo.jpg') no-repeat; }
.content .partners a.speakertext { width:160px; height:43px; bottom:29px; left:254px; background: url('/images/speaker-text-logo.jpg') no-repeat; }
.content .partners a.toutapp { width:71px; height:42px; bottom:19px; right:195px; background: url('/images/toutapp-logo.jpg') no-repeat; }
/* __________________________________________________________________ footer __________________________________________________________________ */
.footer { background-color:#f3f3f3; border-top:1px solid #dbdbdb; }
.footer_resize { margin:0 auto; padding:37px 0 0 0; width:886px; height:64px; }
.footer_resize ul { margin:0 0 17px 130px; padding:0; list-style:none; overflow:hidden; }
.footer_resize ul li { margin:0; padding:0; float:left; }
.footer_resize ul li a { margin-right:50px; text-decoration:none; text-transform:uppercase; color:#aeaeae; font-size:14px;  }
.footer_resize p { margin:0; padding:0; width:100%; text-align:center; color:#aeaeae; }