table.chart-holder
  :width 100%
  :vertical-align top
  border-collapse: separate

  td
    :vertical-align top

  td.datasrc
    :width 250px
    :margin 10px

.boxed-shadows
  -webkit-box-shadow: 0px 0px 6px 1px
  -moz-box-shadow: 0px 0px 6px 1px
  box-shadow: 0px 0px 6px 1px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  margin: 10px

#datasets
  :position static
  :top 0
  :width 100%
  :margin 10

#dsrc
  li
    :list-style-type none
    :margin 2px
    :padding 2px
  ul
    cursor: move
    padding-left: 5px
    

#droppable
  :width 150px
  :height 150px
  :padding 0.5em
  :float left
  :margin 10px

.section-head
  :background-color #EAECED
  :color #363A3B
  -moz-border-radius-topleft: 10px
  -moz-border-radius-topright: 10px
  -moz-border-radius-bottomright: 0px
  -moz-border-radius-bottomleft: 0px
  -webkit-border-radius: 10px 10px 0px 0px
  border-radius: 10px 10px 0px 0px
  :padding 10px