= content_for :head do
  = stylesheet_link_tag 'charts'

= form_for @chart do |f|
  %table.chart-holder
    %tr
      %td.datasrc
        #dsrc.boxed-shadows
          .section-head
            DATASPURCES
          %ul
            - (1..15).each do |number|
              %li.ui-widget-content= number
        = link_to "+ Add Another Source"
      %td
        #datasets.boxed-shadows
          .section-head
            Layers
          = render :partial=>"layer_form"
        %div
          %table
            %tr
              %td= button_to "+ ADD NEW LAYER", "", :class=>'greenBtn'
              %td= button_to "CHART IT", "", :class=>'greenBtn'
            
        