<style>
  #draggable, #draggable2 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
</style>

<div class="demo">

  <div id="draggable" class="ui-widget-content">
    <p>I revert when I'm dropped</p>
  </div>

  <div id="draggable2" class="ui-widget-content">
    <p>I revert when I'm not dropped</p>
  </div>

  <div id="droppable" class="ui-widget-header">
    <p>Drop me here</p>
  </div>

</div><!-- End demo -->



<div class="demo-description">
  <p>Return the draggable (or it's helper) to its original location when dragging stops with the boolean <code>revert</code> option set on the draggable.</p>
</div><!-- End demo-description -->