<table>
  <tr>
    <%= session[:xaxis1] %>
    <td style="padding-right:20px;"><p>Tables</p>
      <% @alltables.each do |table| %>
        <%= link_to table, table1_page_path(table.to_s), :method => :put %><br/>
      <% end %></td>
    <td valign="top">
      <% if session[:table1]%>
        <% if session[:xaxis1] %>
          <p>Please choose y axis from table <%= session[:table1] %>:</p>
        <% else %>
          <p>Please choose x axis from table
            <% if session[:table1] %>
              <%= session[:table2] %>:
            <% else %>
              <%= session[:table1] %>:
            <% end %>
          </p>
        <% end %>
        <% @ds2[0].keys.each do |k|  %>
          <% if session[:xaxis1] %>
            <%= link_to k, yaxis1_page_path(k.to_s), :method => :put %><br/>
          <% else %>
            <%= link_to k, xaxis1_page_path(k.to_s), :method => :put %><br/>
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
