
			<div class="banner">
				<p><span class="blue">Gives businesses</span> <span class="light-blue">access</span> 
				to enterprise level analytics tools that they need to rock their databases in realtime.
				<a href="/users/sign_in" class="strat-now">Start Now Free</a></p>

				<img src="/images/apple.png" alt="" width="436" height="253" />
			</div>
			<div class="additional-links">
				<a href="#" class="doc">Documentation</a>
				<a href="#" class="plans">Pricing Plans</a>
				<a href="#" class="blog">Our Blog</a>
			</div>

			<div class="info">
				<h1 class="title"><span>Easy, Breezy</span> Dashboard Creation</h1>
				<div class="text-line">
					<p class="left-side"><span>The easiest business dashboard you've ever used. Don't waste time and money by building your own.</span>Tired of waiting for IT to run the reports you need? Don't want to spend forever learning SQL? Fed up with dumping results to Excel? Chart.io lets you interact with your database data intuitively via drag and drop.</p>
					<img src="/images/content-img01.jpg" alt="" width="466" height="166" class="right-side" />
				</div>

				<div class="text-line">
					<img src="/images/content-img02.jpg" alt="" width="465" height="236" class="left-side" />
					<p class="right-side"><span>The moment you sign up, we automatically create a rich dashboard of your key business metrics.</span>After you've connected your database to DreamDash, we analyze its schema and generate a variety of analyses and charts we think will be valuable to your business.<br />DreamDash starts you with a working dashboard and lets you add to it easily.</p>
				</div>
				<a href="#" class="full-doc">View Full Documentation</a>
			</div>
			<div class="partners">

				<a href="#" class="airbnb"></a>
				<a href="#" class="dreamhost"></a>
				<a href="#" class="citypocket"></a>
				<a href="#" class="speakertext"></a>
				<a href="#" class="toutapp"></a>
			</div>