<% content_for :head do %>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/highcharts.js"></script>
		<% if params[:table]%>
		<script type="text/javascript">
		
			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'container',
						defaultSeriesType: 'line'
					},
					title: {
						text: 'Created records'
					},
					xAxis: {
						categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
					},
					yAxis: {
						title: {
							text: 'Created'
						}
					},
					tooltip: {
						enabled: false,
						formatter: function() {
							return '<b>'+ this.series.name +'</b><br/>'+
								this.x +': '+ this.y +'°C';
						}
					},
					plotOptions: {
						line: {
							dataLabels: {
								enabled: true
							},
							enableMouseTracking: false
						}
					},
					series: [ {
						name: '<%= params[:table] %>',
						data: [<%= @jan.count %>, <%= @feb.count %>, <%= @mar.count %>, <%= @apr.count %>, <%= @may.count %>, 
						<%= @jun.count %>, <%= @jul.count %>, <%= @avg.count %>, <%= @sep.count %>, <%= @okt.count %>, 
						<%= @nov.count %>, <%= @dec.count %>]
					}]
				});
				
				
			});
				
		</script>
		<% end %>
	
<% end %>
<table>
	<tr>
		<td><% @alltables.each do |row| %>
		<%= link_to row, pages_path + "?table=" + row.to_s %><br/>
		<% end %></td>
		<td><div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div></td>
	</tr>
</table>
