		<% require 'sequel' %>
<% content_for :head do %>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/highcharts.js"></script>
		<script type="text/javascript" src="/javascripts/modules/exporting.js"></script>
		
<script type="text/javascript">

		var chart;
		jQuery(document).ready(function() {
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'container',
					defaultSeriesType: 'line'
				},
				title: {
					text: 'Layers and Filters',
					x: -20 //center
				},
				xAxis: {
categories: [
						"afton.hudson@ritchie.biz", 
						"davon@collins.name", 
						"treva@wisokymaggio.biz", 
						"madonna@tremblaystroman.org", 
						"tomasa_gusikowski@kohler.biz", 
						"sammie@heaney.net", 
						"ezequiel_bruen@marvin.info", 
						"alexie.gusikowski@glover.info", 
						"evie@schiller.biz", 
						"zack_lindgren@brekke.org", 
						"roel@schoen.org", 
						"maci@volkmanfeil.name", 
						"easter@konopelski.com", 
						"cora@tromp.com", 
						"daren@nolan.org", 
						"furman_feil@predovic.net", 
						"alexander@swaniawski.name", 
						"briana.johnston@west.net", 
						"kim.auer@abernathyjohns.info", 
						"darien@beier.info", 
						"stevie_dicki@brakusohara.net", 
						"coby@skiles.net", 
						"samson@beermayer.net", 
						"stevie@hirthe.biz", 
						"dale.streich@deckow.name", 
						"ardella@fadelconnelly.com", 
						"lucio.kertzmann@crooks.biz", 
						"stephon_mckenzie@rempel.name", 
						"janae@effertzkulas.info", 
						"jaron@baumbach.com", 
						"tomasa_mann@schadencummings.name", 
						"dorcas.konopelski@quigleyauer.biz", 
						"kelvin.greenholt@hellerleffler.biz", 
						"natalie.parker@nolan.org", 
						"sadye@wiza.biz", 
						"kelvin@eichmann.org", 
						"carlee.skiles@fadelhoppe.name", 
						"claudia@rice.net", 
						"eliezer.jacobson@mann.biz", 
						"rahsaan@rosenbaumkemmer.name", 
						"anastacio@keeblergibson.info", 
						"letha@tillman.com", 
						"christian@pfannerstill.info", 
						"baron.hamill@armstronghowe.org", 
						"miracle.kirlin@parkerhuels.name", 
						"edison@kozeybergstrom.com", 
						"janice_hickle@wisozk.name", 
						"malachi@hessel.info", 
						"abigale@murazik.biz", 
						"keara.bailey@okon.com", 
						"mallory_batz@hessellangosh.org", 
						"ivah@braunlittel.com", 
						"vicenta_larson@kilbacktowne.net", 
						"orval_jakubowski@hilpertparker.com", 
						"nedra@howe.info", 
						"dane_reichel@schneiderstreich.name", 
						"hailee@raynorstark.info", 
						"kayli@ortiz.net", 
						"reid_west@kuphal.name", 
						"kelsie@danielupton.org", 
						"julius_rohan@denesiklittel.name", 
						"jammie_heidenreich@toykautzer.net", 
						"makenzie@kesslereffertz.name", 
						"jasper@little.com", 
						"jacynthe@altenwerth.biz", 
						"aglae@herman.net", 
						"ramiro@miller.org", 
						"isabell_gislason@veumschmitt.info", 
						"avery.nolan@batzkemmer.name", 
						"deontae.lueilwitz@stehr.com", 
						"jazmin@murray.name", 
						"norval.schuppe@heaney.org", 
						"ivory.sauer@konopelski.net", 
						"kellen@hirthe.net", 
						"leopoldo_gusikowski@streich.info", 
						"camille@okuneva.info", 
						"princess.wintheiser@considinewalter.org", 
						"nash_cormier@lehnergoodwin.org", 
						"brendon@bayer.net", 
						"maia_haag@langworth.com", 
						"mavis.kunde@sauer.net", 
						"winfield@ankunding.org", 
						"pat.steuber@bechtelar.name", 
						"mario@franecki.org", 
						"dangelo.homenick@hayesdeckow.name", 
						"paul@hamill.biz", 
						"emmitt.ernser@gusikowski.com", 
						"damon_wiza@krajcik.net", 
						"delia.robel@sauermurazik.biz", 
						"kacey_turcotte@watsicakassulke.org", 
						"colt.bahringer@cruickshank.org", 
						"jamar@kutchauer.net", 
						"reta@west.org", 
						"katlynn_nolan@sawayn.info", 
						"jailyn.rau@thiel.net", 
						"kayley.bashirian@hand.name", 
						"constantin_kihn@langworthschumm.com", 
						"kara_ullrich@oconner.com", 
						"linda@lefflerbernhard.name", 
						"burnice@jacobslindgren.biz", 
						"info@gtgroup.rs", 
						"info@gtgroup.rs", 
						"info@gtgroup.rs", 
						"info@gtgroup.rs", 
						"", 
						"", 
						"info@gtgroup.rs", 
						"info@gtgroup.rs", 
						]

				},
				yAxis: {
					title: {
						text: 'Values from DB'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}]
				},
				tooltip: {
					formatter: function() {
			                return '<b>'+ this.series.name +'</b><br/>'+
							this.x +': '+ this.y;
					}
				},
				series: [{
						name: "First layer",
						data: [
						<% @layer1.each do |r| %>
						<%= r[:user_id] %>, 
						<% end %>
						]

				}, {
						name: "Second layer",
						data: [
						<% @layer1.each do |r| %>
						<% if r[:id].to_i >= 467107162 %>
						<%= r[:id] %>,
						<% end %> 
						<% end %>
						]

				}, {
						name: "Third layer",
						data: [
						<% @layer1.each do |r| %>
						<%= r[:id] %>, 
						<% end %>
						]

				}, {
						name: "Four layer",
						data: [
						1303792871, 
						1303605671, 
						1304037671, 
						1302943271, 
						1303162871, 
						1303231271, 
						1303317671, 
						1304498471, 
						1302802871, 
						1303029671, 
						1303270871, 
						1303371671, 
						1303731671, 
						1303515671, 
						1303897271, 
						1304131271, 
						1304390471, 
						1303173671, 
						1303015271, 
						1304322071, 
						1304577671, 
						1303476071, 
						1304005271, 
						1304221271, 
						1303915271, 
						1304109671, 
						1303292471, 
						1304606471, 
						1304466071, 
						1304368871, 
						1304520071, 
						1302781271, 
						1304005271, 
						1304199671, 
						1303666871, 
						1303839671, 
						1303792871, 
						1303584071, 
						1302979271, 
						1303054871, 
						1303173671, 
						1303360871, 
						1302907271, 
						1303018871, 
						1303242071, 
						1303461671, 
						1304289671, 
						1303738871, 
						1303504871, 
						1302730871, 
						1303684871, 
						1304016071, 
						1304185271, 
						1302756071, 
						1304354471, 
						1304520071, 
						1304617271, 
						1304437271, 
						1303274471, 
						1303933271, 
						1304088071, 
						1303771271, 
						1303504871, 
						1304260871, 
						1302874871, 
						1303026071, 
						1303256471, 
						1303432871, 
						1302954071, 
						1303090871, 
						1303191671, 
						1303328471, 
						1303832471, 
						1303576871, 
						1303872071, 
						1303706471, 
						1303544471, 
						1302835271, 
						1303029671, 
						1303263671, 
						1303400471, 
						1304469671, 
						1302946871, 
						1303130471, 
						1303195271, 
						1303328471, 
						1304059271, 
						1303789271, 
						1303645271, 
						1303972871, 
						1304257271, 
						1303497671, 
						1304347271, 
						1304545271, 
						1302993671, 
						1303173671, 
						1304631671, 
						1304408471, 
						1303890071, 
						1304160071, 
						1304664538, 
						1306662613, 
						1307076467, 
						1307545926, 
						1307560176, 
						1308688366, 
						1308739320, 
						1308752356, 
						]

				}]
			});
			
			
		});
	</script>

	
<% end %>
<div class="left-side-charts" id="container" style="width: 420px; height: 240px; margin: 0 auto"></div>
<div class="clear"></div>
