<h1 class="title"><span><%= @page.title%></span></h1>
<% if @page.documentation %>
<div class="left-side-main">
<% @documentations.each do |doc| %>
<%= link_to doc.title, "/pages/" + doc.permalink %><br/>
<% end %>
</div>
<% end %>

<% if @page.documentation %>
<div class="right-side-main">
<% end %>
<%=raw @page.body %>
<% if @page.documentation %>
</div>
<div class="clear"></div>
<% end %>
