<% content_for :head do %>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/highcharts.js"></script>
		<% @charts.each_with_index do |chart, i| %>
		<script type="text/javascript">
		
			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: "<%= 'container' + chart.id.to_s %>",
						defaultSeriesType: 'line'
					},
					title: {
						text: "Chart " + <%= i + 1 %>
					},
					xAxis: {
						categories: [
						<% @ds1f.each do |r| %>
						<% xic = chart.x_axis %>
						"<%= r["#{xic}".to_sym] %>", 
						<% end %>
						]
					},
					yAxis: {
						title: {
							text: "<%= "#{chart.x_axis}".to_s %>"
						}
					},
					tooltip: {
						formatter: function() {
				                return '<b>'+ this.series.name +'</b><br/>'+
								'X: ' + this.x + '<br/> Y: '+ this.y;
						}
					},

					series: [ {
						name: "<%= "#{chart.y_axis}".to_s %>",
						data: [
						<% @ds2f.each do |r| %>
						<% yic = chart.y_axis %>
						<%= r["#{yic}".to_sym].to_i %>, 
						<% end %>
						]
					}]
				});
				
				
			});
				
		</script>
		<% end %>
	
<% end %>
<% @charts.each do |chart| %>
<div class="left-side-charts" id="<%= 'container' + chart.id.to_s %>" style="width: 510px; height: 290px; margin: 0 auto"></div>
<% end %>
<div class="clear"></div>
