<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />	
    <%= javascript_include_tag :defaults %>
    <%= yield :head -%>
    <%= csrf_meta_tag %>		
	<title>DreamDash Home Page</title>
</head>
<body>
<!-- __________header___________ -->
	<div class="header">
		<div class="top-clouds"></div>
		<div class="header_resize">
		<% if current_user %>
		<%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "login" %>
		<% else %>
		<%= link_to "Login", new_user_session_path, :class => "login" %>
		<% end %>

			<h1 class="logo"><a href="/"></a></h1>
			<div class="site-nav">
				<div class="left-side-bg"></div>
				<ul>
					<li><%= link_to "about us", "/pages/about-us"%></li>
					<li><%= link_to "pricing", "/pages/pricing"%></li>
					<li><%= link_to "documentation", "/pages/documentation"%></li>

					<li><a href="#">blog</a></li>
					<li class="last"><%= link_to "contact", "/pages/contact-us"%></li>
				</ul>
				<div class="right-side-bg"></div>
			</div>
			<h1 class="slogan">Google Analytics for Business Data</h1>
		</div>

		<div class="bottom-clouds"></div>
	</div>
<!-- ________content __________ -->
<div class="content">
	<div style="height:70px;"></div>
    <%= yield %>
    <div style="height:20px;"></div>
</div>
<!-- _____footer _____-->
	<div class="footer">

		<div class="footer_resize">
			<ul>
				<li><%= link_to "home", "/pages/home"%></li>
				<li><%= link_to "about", "/pages/about-us"%></li>
				<li><%= link_to "pricing", "/pages/pricing"%></li>
				<li><a href="#">documentation</a></li>
				<li><a href="#">blog</a></li>

				<li><%= link_to "contact us", "/pages/contact-us"%></li>
			</ul>
			<p>Copyright &#169; 2011 DreamDash</p>
		</div>
	</div>
</body> 
</html>
